:root {
  --main-bg-color: #1b2636;
  --secondary-bg-color: #354657;
  --secondary-color: 112, 203, 255;
  --accent-color: #dca11d;
}
html {
  background-color: var(--main-bg-color);
  color: white;
}

body {
  margin: 0;
  color: white;
  font-family:
    "Nunito",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src:
    local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
  height: 100vh;
  text-align: center;
}

#logo {
  display: block;
  width: 50%;
  height: 50%;
  margin: auto;
  padding: 10% 0 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-origin: content-box;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Navigation bar */
.topnav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 4em;
}

.icon {
  width: 1.4em;
}

.settings {
  width: 2em;
  position: relative;
  background-color: white;
  border-radius: 1em;
  margin-left: 1em;
  padding: 0.1em;
}

.settings-button {
  align-items: center;
  display: inline-block;
}

.settings-button img {
  width: 2em;
  height: 2em;
  display: block;
}

.searchbar {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 0.6rem;
  height: 1rem;
  background-color: rgba(255, 255, 255, 1);
  width: 30%;
  border-radius: 20px;
}

.searchbar input[type="text"] {
  outline: none;
  box-shadow: none;
  text-decoration: none;
  border: none;
  width: 90%;
  font-size: 18px;
  cursor: pointer;
}

.searchbar button {
  position: relative;
  right: 1%;
  width: 20px;
  height: 20px;
}

/* Grid of roms */
.roms {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  align-items: start;
  gap: 1rem;
  padding: 1rem;
  justify-items: center;
}

.rom {
  display: flex;
  background-color: rgba(var(--secondary-color), 0.3);
  flex-direction: column;
  align-items: center;
  max-width: 20em;
  text-align: center;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

.rom img {
  width: 100%;
  height: auto;
  aspect-ratio: initial;
  object-fit: cover;
  border-radius: 8px;
}

dialog {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: 4px solid var(--accent-color);
  border-style: none none none solid;
  padding: 0;
  outline: none;
  min-width: 60%;
  width: 16em;
  height: 16em;
  min-height: 70%;
}

.game-info {
}

.rom-info {
  display: flex;
  justify-content: center;
  min-width: 20em;
  min-height: 25em;
}

.rom-select-info {
  display: flex;
  align-items: center;
}

.rom-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.separator {
  background: var(--accent-color);
  width: 2px;
  height: 80%;

  /* align-self: stretch; */
}

.validatePopup {
  background: var(--secondary-bg-color);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 1em;
  margin-inline: auto;
  padding-left: 1em;
  padding-right: 1em;
  border-top: 2px solid red;
  width: fit-content;
}

.settings-content {
  display: flex;
  justify-content: center;
}
